<!-- RMIT University Vietnam -->
<!-- Course: COSC2430 Web Programming -->
<!-- Semester: 2023B -->
<!-- Assessment: Assignment 2 -->
<!-- Author: Nguyen Tu Quoc Thai ,Nguyen Minh Trong Nhan, Tran Hoang Khiem -->
<!-- ID: s3957050, s3924462, s3966954 -->
<!-- Acknowledgement: W3School, TailwindCss, ChatGPT, Passport documentation, RemixIcons, Freepik, Web Dev Simplified -->


<div class="flex items-center justify-center w-full md:w-2/5 max-h-fit m-auto my-5 auto bg-cover bg-center bg-gradient-to-r from-lime-300 to-green-400 rounded-lg shadow-lg">
    <!-- Checking user type -->
    <% if (userType == "Customer") { %>
        <form action="/users/customer/profile/update-picture" method="post">
    <% } else if (userType == "Vendor") { %>
        <form action="/users/vendor/profile/update-picture" method="post">
    <% } else if (userType == "Shipper") { %>
        <form action="/users/shipper/profile/update-picture" method="post">
    <% } else { %>
        <form action="">
    <% } %>
    <!-- Change ur avatar -->
        <div class="text-center text-lg font-bold text-white mb-3 mt-20 p-1 w-full flex items-center justify-center">Profile Picture</div>
        <img class="w-72 object-cover h-auto aspect-square border-white border-4 rounded-full overflow-hidden" src="<%= user.userPicture %>" alt="User Profile Picture">
        <input type="file" class="profileCover my-5" name="profilePicture" accept="image/png, image/jpeg, image/gif">
        <button class="flex flex-row justify-center p-2 bg-blue-300 rounded-lg text-white mx-auto mb-20">Profile Picture</button>
    </form>
</div>
