<!-- RMIT University Vietnam -->
<!-- Course: COSC2430 Web Programming -->
<!-- Semester: 2023B -->
<!-- Assessment: Assignment 2 -->
<!-- Author: Nguyen Tu Quoc Thai ,Nguyen Minh Trong Nhan, Tran Hoang Khiem -->
<!-- ID: s3957050, s3924462, s3966954 -->
<!-- Acknowledgement: W3School, TailwindCss, ChatGPT, Passport documentation, RemixIcons, Freepik, Web Dev Simplified -->



<section class="flex flex-col-reverse md:flex-row-reverse justify-center md:justify-around min-h-[calc(100vh-2rem)] md:p-8 ">
                            <!-- Image of the hero section -->
    <div class=" flex flex-col justify-center m-2 p-1 md:w-1/2 rounded-md overflow-hidden px-8">
        <div class="relative overflow-hidden min-h-fit md:h-auto">
            <img class="min-h-min" src="/images/hero-section-4.png" alt="shopping-ecommerce">
            <div class="absolute -z-10 bg-green-400 w-full aspect-square rounded-full -bottom-1/2 left-1/2 -translate-x-1/2"></div>
        </div>
    </div>

                    <!-- Text, button, and type box -->
    <div class="flex flex-col justify-center items-left md:w-1/2 px-8 py-4 md:py-8">
            <!-- Text -->
        <div class="flex flex-col">
            <div class="flex flex-row md:mx-7 my-2 p-1">
                <h1 class="font-bold text-3xl md:text-5xl lg:text-8xl font-serif">
                    Unleash your athele!
                </h1>
            </div>
            <!-- Text but smaller :))) -->
            <div class="flex flex-row md:mx-7 my-1 md:my-6 p-1">
                <p class="md:text-base lg:text-lg">
                    Discover a world of endless possibilities at our online store, where style meets convenience and every click brings you closer to your dream shopping experience.
                </p>
            </div>
        </div>
            <!-- Type box for subscription -->
        <div class="flex flex-col lg:flex-row">
            <input class=" lg:w-3/5 text-sm border-solid border border-gray-300 rounded md:mx-7 lg:mx-0 lg:ml-7 my-3 py-2 px-4" type="email" placeholder="Enter your email for subscription">
            <!-- The button -->
            <p class="w-fit lg:flex-grow bg-green-500  hover:bg-green-800 my-3 rounded-md cursor-pointer md:mx-7 lg:mx-2 p-2"><span class="flex flex-row justify-center text-white text-base uppercase font-semibold">Get started</span></p>
        </div>
    </div>
</section>